@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@400;700&display=swap');

/* RESET CSS */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1.4;
    font-family: "Lexend", sans-serif;
    font-weight: 400;
    font-size: 16px;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* GENERAL */

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: "Lexend", sans-serif;
    font-weight: 700;
}

.bg-primary {
	background-color: #ff8c00 !important;
}

.bg-blue-light {
	background-color: #ebf4ff !important;
}

.text-primary {
    color: #ff8c00 !important;
}

.btn-header {
	width: auto;
    padding: 18px 22px;
	border-radius: 60px !important;
    border-radius: 2px;
    background-color: #ff8c00;
    -webkit-transition: color .4s,background-color .4s,-webkit-transform 1s cubic-bezier(.075, .82, .165, 1);
    transition: transform 1s cubic-bezier(.075, .82, .165, 1),color .4s,background-color .4s,-webkit-transform 1s cubic-bezier(.075, .82, .165, 1);
    color: #fff;
	font-size: 14px;
    line-height: 100%;
    font-weight: 500;
    text-align: center;
}

.text-dark {
	color: #0b2051 !important; 
}

.btn-header:hover {
	background-color: #c4d3f8;
    color: #0b2051;
}

.btn-outline {
	width: auto;
    padding: 14px 22px;
	border-radius: 60px !important;
    border-radius: 2px;
	background-color: #ff8c00;
    -webkit-transition: color .4s,background-color .4s,-webkit-transform 1s cubic-bezier(.075, .82, .165, 1);
    transition: transform 1s cubic-bezier(.075, .82, .165, 1),color .4s,background-color .4s,-webkit-transform 1s cubic-bezier(.075, .82, .165, 1);
    color: #fff;
	font-size: 14px;
    line-height: 100%;
    font-weight: 500;
    text-align: center;
}

.btn-outline:hover {
	background-color: #c4d3f8;
    color: #0b2051;
	transition: .2s ease-in;
}

.btn-search {
	width: auto;
    padding: 14px 22px;
	border-radius: 60px !important;
    border-radius: 2px;
	background-color: #ff8c00;
	border: none;
    -webkit-transition: color .4s,background-color .4s,-webkit-transform 1s cubic-bezier(.075, .82, .165, 1);
    transition: transform 1s cubic-bezier(.075, .82, .165, 1),color .4s,background-color .4s,-webkit-transform 1s cubic-bezier(.075, .82, .165, 1);
    color: #fff;
	font-size: 14px;
    line-height: 100%;
    font-weight: 500;
    text-align: center;
}

.btn-search:hover {
	background-color: #c4d3f8;
    color: #0b2051;
	transition: .2s ease-in;
}

.lead {
	line-height: 1.2 !important;
}

.rounded-5 {
	border-radius: .8rem !important;
}

.rounded-6 {
	border-radius: 1.5rem !important;
}


/* NAV */

.nav-item > .nav-link {
	font-size: 14px;
}

.nav-item > .nav-link:hover {
	color: #ff8c00;
	transition: .3s ease-in-out;
}

.nav-item > .active {
	color: #ff8c00;
}


/* BANNER */

.banner-img {
	border-bottom-right-radius: 1.2rem !important;
}

/* CATEGORIES */

.category-card {
	cursor: pointer;
	background-color: #f8f9fa!important;
	text-decoration: none;
	color:#0b2051;
}

.category-card:hover {
	color:#ff8c00;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
	transition: .4s ease-in-out;
}


/* PRICING */

.text-sm {
	font-size: 14px;
}

.list-item {
	padding: 8px 0 !important;
}